doctype html
html
    head
    body

        h1 Welcome #{username},
        p Thanks for signing up on GoatsGuide.
        p You can find some instructions on how to use the site
        a(href= client_endpoint + `public/intro`) here.
        p If you did not initiate this request, let us know by replying to this message.
        p Happy fliering.
        a(href="mailto: goatsguide@gmail.com") goatsguide@gmail.com


